.myInput {
    font-size: 25px;
    padding: 2px;
    margin: 0px 15px 10px;
    border: 4px solid rgb(117, 114, 114);
    border-radius: 15px;
    min-width: 300px;
    max-width: 1200px;
    width: 100%;
    background: #E0FFFF;
    color: rgb(117, 114, 114);
}